<%= title('Schedule of Activities') %>

    <h2>Schedule of Activities</h2>
    <!--<p class="big grey">Something Goes Here.</p>-->
    <hr />
    <div class="features-four">


      <div class="row">

        <div class="col-md-4 col-sm-4">
          <div class="f-block b-red">
            <i class="fa fa-calendar"></i>
            <h4>Sunday Worship Services</h4>
            <p><strong>7:00 am</strong> - English Traditional</p>
            <p><strong>8:30 am</strong> - Tagalog</p>
            <p><strong>10:30 am</strong> - English Contemporary</p>
            <p><strong>5:00 pm</strong> - English / Tagalog</p>

          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="f-block b-purple">
            <i class="fa fa-calendar"></i>
            <h4>Adult Bible Study</h4>

            <dl>
              <dt>Tuesday</dt>
              <dd>10:00 am</dd>
            </dl>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="f-block b-lblue">
            <i class="fa fa-calendar"></i>
            <h4>Midweek Prayer & Worship Service</h4>
            <dl>
              <dt>Wednesday</dt>
              <dd>8:00 pm</dd>
            </dl>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4 col-sm-4">
          <div class="f-block b-green">
            <i class="fa fa-calendar"></i>
            <h4>Young People's Fellowship Worship Service</h4>
            <dl>
              <dt>Saturday</dt>
              <dd>7:30 pm</dd>
            </dl>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="f-block b-orange">
            <i class="fa fa-calendar"></i>
            <h4>Morbi Acfelis Ecmauris</h4>
            <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="f-block b-blue">
            <i class="fa fa-calendar"></i>
            <h4>Suspendisse Potenti Spahe</h4>
            <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.</p>
          </div>
        </div>


      </div>
    </div>

