<%= title('Events') %>

<div class="content">
  <div class="container">

    <h2>Events</h2>
    <!--<p class="big grey">Here are the stuffs which we do.</p>-->
    <hr />

    <div class="row">
      <div class="col-md-12">

        <!-- Events starts -->

        <div class="events">
          <div class="row">
            <div class="col-md-12">

              <div class="row">
                <div class="col-md-12">

                  <!-- About -->
                  <div class="rblock">
                    <div class="row">
                      <div class="col-md-3">
                        <h4>Temple Run</h4>
                      </div>
                      <div class="col-md-9">
                        <div class="rinfo">
                          <h5>Young People's Fellowship</h5>
                          <div class="rmeta">
                            <i class="fa fa-calendar"></i> 05-05-2014 to 05-10-2014
                          </div>
                          <%= image_tag "announcements/mint2.jpg", class: "img-responsive" %>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet.  Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr />

                  <div class="rblock">
                    <div class="row">
                      <div class="col-md-3">
                        <h4>Temple Run</h4>
                      </div>
                      <div class="col-md-9">
                        <div class="rinfo">
                          <h5>Young People's Fellowship</h5>
                          <div class="rmeta">
                            <i class="fa fa-calendar"></i> 05-05-2014 to 05-10-2014
                          </div>
                          <%= image_tag "announcements/theme_feb2014.jpg", class: "img-responsive" %>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet.  Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr />
                  <div class="rblock">
                    <div class="row">
                      <div class="col-md-3">
                        <h4>Temple Run</h4>
                      </div>
                      <div class="col-md-9">
                        <div class="rinfo">
                          <h5>Young People's Fellowship</h5>
                          <div class="rmeta">
                            <i class="fa fa-calendar"></i> 05-05-2014 to 05-10-2014
                          </div>
                          <%= image_tag "announcements/run.jpg", class: "img-responsive" %>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet.  Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr />
                  <div class="rblock">
                    <div class="row">
                      <div class="col-md-3">
                        <h4>Temple Run</h4>
                      </div>
                      <div class="col-md-9">
                        <div class="rinfo">
                          <h5>Young People's Fellowship</h5>
                          <div class="rmeta">
                            <i class="fa fa-calendar"></i> 05-05-2014 to 05-10-2014
                          </div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet.  Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr />

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>