@import "bootstrap";

/* Custom */

a{
  color: #1570a6;
}

a:hover{
  color: #11608f;
}

blockquote{
  border-left: 4px solid #1570a6;
}

.color{
  color: #1570a6;
}

header{
  border-top: 2px solid #1570a6;
}

.navbar button{
  background:#1570a6 !important;
}

.navbar button:hover{
  background:#11608f !important;
}

.da-slider{
  border-top: 3px solid #1570a6;
  border-bottom: 3px solid #1570a6;
}

.bg-orange{
  background-color: #fe781e;
  color: #fff;
}

.bg-green{
  background-color: #41bb19;
  color: #fff;
}

.bg-blue{
  background-color: #1570a6;
  color: #fff;
}

.bg-black{
  background-color: #333333;
  color: #fff;
}

.da-slide h2 span{
  background: url("../images/border-b.png") left bottom no-repeat;
}

.da-slide .da-link{
  background: #1570a6;
}

.da-slide .da-link:hover{
  background: #11608f;
}

.da-dots span{
  background: #1570a6;
}

.da-arrows span{
  background: #1570a6;
}

.full-slider{
  border-top: 5px solid #666;
  background: #ffffff;
}

.full-slider .button a{
  background: #11608f;
}

.full-slider .button a:hover{
  background: #11608f;
}

.flex-back{
  background: #11608f;
}

.home-product{
  background: #1570a6;
}

.home-product .home-prod-img{
  border: 1px solid #11608f;
}

#portfolio .element{
  background: #11608f;
}

#portfolio .pcap{
  background:#1570a6;
  border-top: 2px solid #11608f;
}

/* Events - Accordion*/

.events .accordion-heading h5{
  background:#1570a6;
}

.social-links{
  background: #1570a6;
}

.social-links i{
  background: #11608f;
}

.formy{
  background: #1570a6;
}

.service-two i{
  color: #1570a6;
}

.features-two .feat i, .features-three i{
  color: #1570a6;
}

.about-two .asocial i{
  background:#1570a6;
}

.career .nav-tabs > li > a:hover{
  background: #1570a6;
}



.button a{
  background: #1570a6;
}

.button a:hover{
  background: #11608f;
}

.paging a:hover{
  background: #1570a6;
}

.paging .current{
  background: #11608f;
}

.home.devotional .button a, .sermon .button a{
  background: #fe781e;
}

.home.devotional button a:hover, .sermon .button a:hover{
  background: #e66d1c;
}

.home.devotional .paging a:hover, .sermon .paging a:hover{
  background: #fe781e;
}

.home.devotional .paging .current, .sermon .paging .current {
  background: #e66d1c;
}

.devotional {
  ul {
    li {
      list-style-type: initial;

    }
  }
}


.button a{
  background: #1570a6;
}

.button a:hover{
  background: #11608f;
}

.paging a:hover{
  background: #1570a6;
}

.paging .current{
  background: #11608f;
}

.alert {
  margin: 0px 0px 20px 0px;

  &.alert-error {
    @extend .alert-danger;
  }
  &.alert-notice {
    @extend .alert-warning;
  }
}

.field_with_errors {
  input, textarea, text {
    border: 2px solid #ff3738;
    //    padding: 2px;
  }
  //  padding: 2px;
  //  background-color: red;
  //  display: table;
}

#error_explanation {
//  border: 2px solid #ff3738;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 0px;
//  background-color: #f0f0f0;
  color: #f00;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    //    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul {
    list-style: none;
    margin: 0 0 0px 30px;
    li {
      //    font-size: 12px;
      list-style: square;

    }
  }
}

.show-info-striped {
  .show-info-name {
    color: #fff;
    background-color: #1570a6;
  }
  .show-info-value {
    padding-left: 12px;
  }
}

.show-info-name {
  position: absolute;
  width: 110px;
  text-align: right;
  padding: 6px 10px 6px 0;
  left: 0;
  top: 0;
  bottom: 0;

}

.show-info-value {
  padding: 6px 4px 6px 6px;
  margin-left: 120px;
}

.show-info-row {
  position: relative;
  &:first-child {
    .profile-info-name, .profile-info-value {
      border-top: 0px;
    }
  }
}

@media only screen and (max-width: 480px){
  .show-info-striped {
    .show-info-name {
      position: static;
      width: auto;
      text-align: left;
      padding: 6px 0px 6px 10px;
    }
    .show-info-value {
      margin-left: 10px;
    }
  }
}

#content {
  height: 500px;
}

.caption {
  width: 224px;
}

.images {
  width: 224px;
  float: left;
  margin-bottom: 20px;
}