<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copy">
          <h6>Bread From Heaven <span class="color">Christian Fellowship</span></h6>
          <p>Copyright &copy; <a href="#">BFHCF</a> - <%= link_to "Home", root_path %> | <%= link_to "About Us", about_path %> | <%= link_to "Contact Us", contact_path %> | <%= link_to "Login", signin_path %></p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>